<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= context.title %></title>
    <link rel="shortcut icon" href="../../static/iconfont/icon.png">
    <script type='text/javascript' src="https://cdn.bootcss.com/echarts/4.2.1/echarts.min.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=d50534eae2b13316ae4aa1b2d2163cb5&plugin=AMap.DistrictSearch,AMap.Autocomplete,AMap.PlaceSearch,AMap.RectangleEditor,AMap.ControlBar,AMap.MapType"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
</head>
<body>
    
</body>
</html>